.server-holder {
    height: calc(100vh - 4rem);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: flex;
}

.server-title {
    font-size: xx-large;

    margin-top: 4rem;
}

.servers {
    margin-top: 4rem;
    background-color: #1b1b1b;
    width: 80vw;
    height: auto;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.server {
    background-color: #111111;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.server:hover .server-icon {
    top: 0%;
}

.server-icon {
    width: 8rem;
    height: 8rem;
    border-radius: 15px;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: all 0.3s;
    z-index: 3;
}

.server-name {
    display: hidden;
    font-size: small;
    margin-bottom: 0.2rem;
    width: 7.9rem;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    transition: all 0.3s;
    z-index: 2;
}

.server:hover .server-name {
    display: inline;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.server-alternate-icon {
    background-color: #080808;
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 3;
    transition: all 0.3s;
}

.server:hover .server-alternate-icon {
    top: 0%;
    transform: translateX(-50%);
}