.dashboard-module-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-module {
    margin: 2rem;
    width: 60vw;
    height: auto;

    background-color: #2F3136;

    border-radius: 5px;
    border-left: 4px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #af1717;
    border-style: solid;

    transition: border-color 0.5s;

    display: flex;
    flex-direction: column;
}

.module-enabled {
    border-color: #2ac42a;
}

.module-enable {
    width: auto;
    padding: 0.5rem;
    background-color: #242425;
    display: flex;
    align-items: center;
    gap: 4px;
}

.enable-button {
    all: unset;
    width: 3rem;
    height: 1.5rem;
    border-radius: 100px;
    background-color: #1e1f22;

    display: flex;

    cursor: pointer;
}

.button-switcher {
    width: 50%;
    height: 100%;
    border-radius: 100px;

    background-color: #af1717;
    transition: transform 0.5s, background-color 0.5s;

}

.switcher-enabled {
    transform: translate(100%);
    background-color: #2ac42a;
}

.module-description {
    padding: 1rem;
}

.module-button-section {
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.module-button-green {
    all: unset;

    padding: 0.25rem;
    width: fit-content;
    margin: 2px;
    margin-left: 0px;

    background-color: #2ac42a;

    border-radius: 10px;

    cursor: pointer;

    transition: background-color 0.5s;
}

.module-button-green:hover {
    background-color: #008f00;
}

.module-button-red {
    all: unset;

    padding: 0.25rem;
    width: fit-content;

    background-color: #af1717;

    border-radius: 10px;

    cursor: pointer;

    transition: background-color 0.5s;
}

.module-button-red:hover {
    background-color: #7c0000;
}

.module-form-section {
    padding: 1rem;
}


.module-welcome-form {
    display: flex;
    flex-direction: column;
}

.form-textarea {
    all: unset;

    background-color: #1e1f22;
    resize: vertical;
    
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 50x;
}