<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystic Bot</title>
    <!--Link tags and stykes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <link rel="icon" type="image/x-icon" href="../static/crown.png">

</head>
<body>
    <div class="navigation">
        <div class="navigation-left">
            <a class="navigation-item navigation-home" href="{{url_for('index')}}">
                <img class="navigation-icon" src="../static/Icon.png" alt="">
                <p>Mystic Bot</p>
            </a>
            <a class="navigation-item" href="{{url_for('serverpage')}}">Dashboard</a>
        </div>

        <div class="navigation-right">
            <!--If not logged in with discord-->
            
            {%if not user%}
            <a class="navigation-item navigation-login" href="{{url_for('login')}}">
                <img class="navigation-discord-icon" src="../static/discord-mark-white.png" alt="">
                <p>Log In with Discord</p>
            </a>
            {%else%}

             <div class="navigation-profile">
                <img class="profile-icon" src="{{avatar}}" alt="">
                <p class="profile-name" >{{user}}</p>
                <p class="profile-dropdown" id="dropdown">›</p>
            </div>
            
            
            <div class="navigation-profile-settings hidden" id="settings">
                <a href="{{url_for('logout')}}">Logout</a>
            </div>
            
            {%endif%}

        </div>
    </div>

    {%block content%}
    {%endblock content%}
    


    <script src="../static/base.js"></script>
    <script src="../static/dashboard.js"></script>
</body>
</html>