{% extends 'base.html' %}

{%block content%}


<div class="dashboard-module-container" id="dashboard-module-container">

    <div class="dashboard-module">
        <div class="module-enable">
            <button class="enable-button">
                <div class="button-switcher"></div>
            </button>
            <div class="module-title">Welcome Module</div>
        </div>
        <div class="module-description">
            This simple welcome module can do many things, dming the user on join to mentioning them in a specific channel, and more! choose from your set of options below
        </div>
        <form action="" method="post" class="module-form">
            <label for="dmmessage">Dm Message:</label>
            <input type="text" name="dmmessage" placeholder="Enter your message here!" id="dmmsg">
            <label for="welcchanneldropdown">Channel Select:</label>
            <select name="welcchanneldropdown" id="welcchanneldropdown">
                <option value="">None</option>
                {%for channel in channels%}
                <option value="{{channel.id}}" class="option">#{{channel.name}}</option>
                {%endfor%}
            </select>
            <label for="channelinput" class="channelinputlabel">Channel Message:</label>
            <input type="text" name="channelinput" class="channelinput" placeholder="Type your message here!">
            
        </form>
        <div class="module-save">
                <button class="save-button" onclick="welcomeSave()">Save</button>
            </div>
    </div>


</div>


{%endblock content%}