{% extends 'base.html' %}

{%block content%}


<div class="dashboard-module-container" id="dashboard-module-container">

    <div class="dashboard-module">
        <div class="module-enable">
            <button class="enable-button">
                <div class="button-switcher"></div>
            </button>
            <div class="module-title">Welcome Module</div>
        </div>
        <div class="module-description">
            This module fires an event whenever a user joins the server, select "add dm message" if you want to send a message to the user's dms, select "Add Channel Message" if you want to send a message to a desginated channel
        </div>
        <div class="module-button-section">
            <button class="module-button-green" onclick="WelcomeDmAdd()">+ Add Dm Message</button>
            <button class="module-button-green" onclick="WelcomeChanAdd()">+ Add Channel Message</button>
        </div>
        <div class="module-form-section">
            <form action="" method="post" class="module-form" id="welcome-form">
                <br>
                <label for="chanmsg1">ChannelName Message #1 | <span class="module-button-red" id="ChannelMsgRemove">- Remove</span></label>
                <textarea class="form-textarea" name="chanmsg1" rows="2"></textarea>
            </form>
        </div>


</div>


{%endblock content%}